.leftBar {
  grid-area: lbar;
  background: #332c1d;
  text-align: center;
}

.item {
  padding: 10px;
}

.item a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}
