.header {
  grid-area: header;
  color: white;
  background: brown;
  font-size: 50px;
  padding: 20px;
}

.header span {
  vertical-align: super;
  padding: 10px;
}

.header button {
  vertical-align: super;
  padding: 10px;
}

.header img {
  width: 80px;
  border-radius: 80px;
}

.login {
  float: right;
}
