.rememberMe {
  float: left;
}

.login {
  font-size: 1em;
  width: 40%;
  height: 2em;
  margin: 0 0 5px 0;
}

.password {
  font-size: 1em;
  width: 40%;
  height: 2em;
  margin: 0 0 5px 0;
}

.loginButton {
  font-size: 1.5em;
  margin-top: 10px;
  background-color: brown;
  display: block;
  color: gold;
}
